/* CSS Document */
/*super:.ml markup css for use with dyamic pages*/
superml {
	width:100%;
	padding-left:10px;
	height:100%;
	top:0;
	left:0;
	position:fixed;
	background-color:#EEE;
	color:#4387CE;
	font-family:arial;
}
a.superml, a.superml:hover, a.superml:active, a.superml:visited  {
	color:#4387CE;
	font-family:arial;
	padding-right:10px;
	text-decoration:none;
	font-size:12px;
}
/*sitewide*/
div.poweredby {
	width:32px;
	height:30px;
	background-image:url(gotoadmin.png);
	position:fixed;
	bottom:20px;
	right:20px;
}
div.poweredby:hover {
	cursor:pointer;
}

body {
	margin:0px;
	width:100%;
	height:100%;
	padding:0px;
	background-color:#EEE;
}
div.mainContainer {
	margin-left: auto;
	margin-right: auto;
	height: 800px;
	width: 885px;
}
div.siteHeader {
	background-image: url(header.png);
	height: 110px;
	width: 100%;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCC;
	border-left-color: #CCC;
}
	div.siteHeaderText {
		margin-left:120px;
		margin-top:30px;
		float:left;
	}
	div.siteHeaderText:hover,div.siteHeader:hover,span.siteHeaderTitle:hover,span.siteHeaderSlogan:hover {
	     cursor:default;
	}
	span.siteHeaderTitle {
		font-family: Ebrima;
		font-size: 20px;
		color: #212121;
	}
	span.siteHeaderSlogan {
		font-family: Ebrima;
		font-size: 10px;
		color: #212121;
		float:left;
	}
	
div.menuBar {
	background-image:url(menubar.png);
	width:100%;
	height:30px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCC;
	border-left-color: #CCC;
}
div.menuBar_linksContainer {
	padding-left:80px;
	padding-top:5px;
}
	a.menuLinks, a.menuLinks:hover, a.menuLinks:active, a.menuLinks:visited {
	font-family: Ebrima;
	font-size: 12px;
	color: #FFF;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	margin-right:50px;
	text-decoration:none;
	}
div.contentBox {
	padding-top:20px;
	height: 600px;
	width: 100%;
	background-color: #FFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCC;
	border-left-color: #CCC;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
div.contentBox_content {
	width:750px;
	height:500px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}
	h1 {
	font-family: Ebrima;
	font-size: 31px;
	color: #212121;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	}
	p {	
	font-family: Ebrima;
	font-size: 13px;
	color: #212121;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	}

/* pop up login */
#blanket {
background-color:#111;
opacity: 0.65;
filter:alpha(opacity=65);
position:absolute;
z-index: 9001;
top:0px;
left:0px;
width:100%;
}
#popUpDiv {
position:absolute;
background-color:transparent;
width:300px;
height:300px;
z-index: 9002;
}
